/*VARIABLES*/
$colorPrincipal:rgba(122, 93, 59, 0.685);
$colorSecundario:rgba(124, 58, 10, 0.795);
$fuentePrincipal:'Montserrat', sans-serif;
$fuenteSecundaria: 'Hind Siliguri', sans-serif;
/*MIXINS*/
@mixin sizes($widt, $height) {
    height: $height;
    width: $widt;
    
}

.logo{
    @include sizes(130px, 130px)
   
}
.formulario{
    color: saddlebrown;
}
.contacto{
    color: sienna;
    font-style: normal;
    font-weight: lighter;
    font-family:$fuentePrincipal;
    text-align: left;
    font-size: 20px;
}
li{
    width: 150px;
    margin: 5px;
    font-family: $fuenteSecundaria;
    color: $colorPrincipal;
    text-align: center;
    text-decoration: none;
}
.contenedorContacto{
    width: 200px;
    height: 200px;
    padding: 5px;
    
}
a{
    text-decoration: none;
}
.iconoContacto{
    @include sizes(40px,40px )
    
}

.iconoEnvio{
    @include sizes(200px, 200px)
}
/*BOOSTRAP cambios de estilos aplicados*/
.featurette-divider {
    margin: 5rem 0; 
}
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
.fotoTodoMocca{
     @include sizes(400px,500px )
}
.franja{
     width: 100%;
     height: 50px;
     background-color:$colorPrincipal;
     margin-bottom: 10px;
}
/*AMINACION*/
.logo:hover{
    transform: scale(1.2,1.2);
}
.titulos{
    color: white;
    font-style: normal;
    font-weight: lighter;
    font-family:$fuentePrincipal;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    text-align: center;
}
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.iconosB{
    display: list-item;
    background-color: $colorSecundario;
}
.fuentesNav{
    font-weight: bolder;
    font-family:$fuentePrincipal;
    color: $colorPrincipal;
    letter-spacing: -.05rem;
    
}
.principal{
    
    padding-top: 20px;
    padding-bottom: 20px;
}

.secciones{
    color: $colorPrincipal;
    font-style: normal;
    font-weight: bold;
    font-family: $fuentePrincipal ;
    font-size: 40px;
    text-decoration: none;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
.seccionIndex{
    @include sizes(400px,400px )
}
.card-title{
    color:$colorSecundario;
}
.card-text{
    color: saddlebrown;
}

.nuevaTemporada{
    color: antiquewhite;
    font-style: normal;
    font-weight: normal;
    font-family: $fuenteSecundaria;
    font-size: 60px;
    
    
}

 a .nuevaTemporada:hover{
    transform: scale(1.2,1.2);
}
    
a:hover{
    text-decoration: none;
}    
    
.card{
    border: none;
}

.sale{
    color: red;
}

.card-group{
    margin-left: 50px;
}

.formulario{
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: 30px;

}
.contactanos{
    display:inline-flex;
}

.carousel-inner-c{
    height: 280px;
}

.enviosYpagos{
    background-color: tan;
}

.card-body-f{
    background-color: $colorPrincipal;
    
}
.card-text-f{
    color: white;
    font-style: normal;
    font-weight: normal;
    font-family: $fuenteSecundaria;
  
}
footer{
    color: white;
    font-family: $fuentePrincipal;
}
.enviosYpagos{
    margin-bottom: 10px;
}

.form-control-f{
    width: 500px;
}

.form-group-f{
    color: $colorSecundario;
}

.info{
    color: $colorSecundario;
    font-family: $fuentePrincipal;
}